section {
  width: 500px;
}

.title {
  color: white;
  background-color: rgb(80, 80, 80);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  background-color: rgb(192, 192, 192);
  display: flex;
}

.links a {
  color: rgb(80, 80, 80);
  text-decoration: none;
  padding: 7px;
}
