section {
  display: flex;
  flex-direction: column;
}

.head img {
  width: 100px;
  border-radius: 50%;
}

.head {
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: rgb(189, 119, 119);
}

ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

ul li:not(:first-child):before {
  content: " | ";
}

nav {
  background-color: rgb(213, 77, 77);
}

.big-pic img {
  min-width: 100%;
}
