@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: "Akronim";
  src: url("../fonts/Akronim-Regular.eot");
  src: url("../fonts/Akronim-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Akronim-Regular.woff2") format("woff2"),
    url("../fonts/Akronim-Regular.woff") format("woff"),
    url("../fonts/Akronim-Regular.ttf") format("truetype"),
    url("../fonts/Akronim-Regular.svg#Akronim-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.p1 {
  font-family: Verdana, sans-serif;
}

.p2 {
  font-family: Didot, serif;
}

.p3 {
  font-family: FreeMono, monospace;
}

.p4 {
  font-family: Roboto;
}

.p5 {
  font-family: Akronim;
}

.p6 {
  font-family: Montserrat;
}
