.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  height: 200px;
  width: 400px;
  color: white;
  text-align: center;
}

div {
  background-color: gray;
}

div:nth-child(1) {
  grid-area: 1 / 1 / span 1 / span 3;
}

div:nth-child(2) {
  grid-area: 1 / 4 / span 2 / span 1;
}
