.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  height: 200px;
  width: 400px;
  color: white;
  text-align: center;
}

div {
  background-color: gray;
}

div:nth-child(1) {
  grid-column: 1 / span 3;
}
