.container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 1px;
  height: 200px;
  width: 400px;
  color: white;
  text-align: center;
}

div {
  background-color: gray;
}

div:nth-child(1) {
  grid-area: 1 / 1 / span 1 / span 3;
}

div:nth-child(2) {
  grid-area: 2 / 1 / span 2 / 1;
}
